{% extends 'base.html' %}

    {% block content %}
    <div style="background-color: black; height: 100vh;">
      <div class="container h-100">
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-12 col-xs-12 pt-5">
            <form method="POST" class="card border-0 p-3 shadow-sm">
              <div class="form-group">
                <input type="text" class="form-control" name="city" placeholder="City">
              </div>

              <div class="form-group">
                <input type="text" class="form-control" name="country" placeholder="Country">
              </div>

              <div class="form-group">
                <button class="btn btn-info btn-block">Get Weather</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}