.green {
  height: 72px;
  background-color: #9ae6b4;
}

.spotify-description {
  position: absolute;
  left: 10%;
  bottom: -40px;
}

@media only screen and (max-width: 414px) {
  .spotify-description {
  position: absolute;
  left: 10%;
  bottom: -55px;
}