body {
  background-color: #EAF6F6;
}

img {
  width: 300px;
}

h1, h3 {
  color: #66BFBF;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
