<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <link rel="icon" type="image/png" href="https://github.com/lenargasimov.png">
  <meta property="og:type" content="profile">
  <meta property="og:title" content="Lenar Gasimov">
  <meta property="og:description" content="Hi there, nice to meet you. I'm Lenar Gasimov. Welcome to my world!">
  <meta property="og:url" content="https://lenargasimov.dev">
  <meta property="og:image" content="https://github.com/lenargasimov.png">
  <meta property="profile:first_name" content="Lenar">
  <meta property="profile:last_name" content="Gasimov">
  <meta name="theme-color" content="#131313">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  <link rel="icon" type="image/png" href="https://github.com/lenargasimov.png">
  <meta property="og:type" content="profile">
  <meta property="og:title" content="Lenar Gasimov">
  <meta property="og:description" content="Hi there, nice to meet you. I'm Lenar Gasimov. Welcome to my world!">
  <meta property="og:url" content="https://lenargasimov.dev">
  <meta property="og:image" content="https://github.com/lenargasimov.png">
  <meta property="profile:first_name" content="Lenar">
  <meta property="profile:last_name" content="Gasimov">
  <meta name="theme-color" content="#131313">

  <title>Lenar Gasimov | Work</title>

<link href="../static/main.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="../index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
          <li><a href="https://lenar-blog.herokuapp.com" target="_blank">05 : Blog</a></li>
          <li><a href="../cv.html" target="_blank">06 : CV</a></li>        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./index.html" title="" class="active">001</a></li>
            <li><a href="./index.html" title="">002</a></li>
            <li><a href="./index.html" title="">003</a></li>
            <li><a href="./index.html" title="">004</a></li>
            <li><a href="./index.html" title="">005</a></li>
            <li><a href="./index.html" title="">006</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="https://images.unsplash.com/photo-1505682634904-d7c8d95cdc50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">001 : Blog Project on Python</h1>
          </div>
          <p>Blog Project on Python. Anyone can sign up and comment on the blog posts.</p>
            <p>RESTful Blog with Editing. Admin can create new blog posts, edit posts and delete posts. All inside the blog website.</p>
            <small><a href="https://lenar-blog.herokuapp.com" target="_blank">https://lenar-blog.herokuapp.com</a></small>
        </div>
      </div>

      
      
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/wzywx3VVcVE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="copyright">&copy; 2021<script>new Date().getFullYear()>2021&&document.write("-"+new Date().getFullYear());</script> Lenar Gasimov.</p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="../static/script.js"></script></body>

</html>