{% extends "LayoutFile.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
<nav id="nav">
    <ul>
        <li><a href="{{ url_for('home') }}">Home Page</a></li>
        {% if session["user"]: %}
            <li><a href="{{ url_for('ShoppingCart') }}">Shopping Cart ({{ basketitems }})</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}" class="active">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}

{% block sectionheader %}Login to see your to-do list...{% endblock %}


{% block sectioncontent %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p style='color:red;'>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<form method="POST" action="{{ url_for('login') }}" novalidate>
    {{ wtf.quick_form(form, novalidate=True) }}
</form>

{% endblock %}