{% include "head.html" %}
<html lang="en">

<body class="d-flex h-100 text-center text-white" style="background-color:#00b894;">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
        {% include "nav.html" %}
    </div>
  </header>

  <main class="px-3">
    <div class="py-5 text-center">
      <p style="font-size:100px;">🎨</p>
      <h2 style="font-family: 'Homemade Apple', cursive; color:white; font-size:50px;">Create a Palette</h2>
      <p class="lead" style="color:white;">Upload a .jpg file to get started<br>Once color identification process is complete, you'll find your custom palette on the "Library" tab.
      <br>Please be patient -- the process can take a few minutes!</p>
    </div>

    <div class="row g-5">
      <form method="post" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      {{ form.file }}
      {{form.submit}}
    </div>

  </main>
    {% include "footer.html" %}
</div>

{% include "js.html" %}
</body>
</html>