<header class="p-3 text-black">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{url_for('home')}}" class="nav-link px-3 text-light"> Home</a></li>
        <li><a href="{{url_for('library')}}" class="nav-link px-3 text-light">Library</a></li>
        <li><a href="{{url_for('create')}}" class="nav-link px-3 text-light">Create</a></li>
      </ul>

      <div class="text-end">
      </div>
    </div>
  </div>
</header>